<app-navigation></app-navigation>
<!-- /src/app/components/services/services.component.html -->
<!-- /src/app/components/services/services.component.html -->

<div class="container mt-5">
    <h1 class="display-4 text-center mb-5">Our Services</h1>
    
    <div class="row">
      <!-- Service 1 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTCRuI-OKbdVTc39k_SdUZ6NiFUmwQlTYe3A&usqp=CAU" class="card-img-top" alt="Service 1">
          <div class="card-body">
            <h5 class="card-title">Guide</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius nulla eu ex feugiat fermentum.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
  
      <!-- Service 2 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_Qf0CXRbmtyOI7Shjtt8_zz_rZUu_7if0Yw&usqp=CAU" class="card-img-top" alt="Service 2">
          <div class="card-body">
            <h5 class="card-title">Plannning</h5>
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
  
      <!-- Service 3 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7It3CDAnTjmzOXZyunfG-HMIzw4fWTg2y2BoN9jyr5xPPud-gJxm0_7L4L2r5OeIsWFE&usqp=CAU" class="card-img-top" alt="Service 3">
          <div class="card-body">
            <h5 class="card-title">Maintenance</h5>
            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
  
      <!-- Add more Service Cards as needed -->
    </div>
  </div>
  
  